body, td, th, .ui-widget {
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}

form {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.pe-layout-pane-header {
	padding-left: 3px;
}

#source-tree-pane .pe-layout-pane-header {
	padding-left: 6px;
}

#target-tree-pane .pe-layout-pane-header {
	padding-left: 6px;
}

#toolbar-pane.pe-layout-pane-content {
	padding: 0;
	overflow: hidden;
}

#navigator-pane {
	z-index: 10;
}

#navigator-pane .ui-tree {
	border: none;
	width: auto;
}

#navigator-pane .ui-tree-container {
	overflow: visible;
	padding: 0;
}

#navigator-pane .ui-layout-content {
	padding-right: 0;
}

.ui-treenode-icon.ui-icon {
	border-radius: 0;
	background-position: 0 0;
}

.ui-treenode-icon.ui-icon-dim {
	background-image: url('../images/dimension.gif');
}

.ui-treenode-icon.ui-icon-hier {
	background-image: url('../images/hierarchy.gif');
}

.ui-treenode-icon.ui-icon-level0 {
	background-image: url('../images/level_0.gif');
}

.ui-treenode-icon.ui-icon-level1 {
	background-image: url('../images/level_1.gif');
}

.ui-treenode-icon.ui-icon-level2 {
	background-image: url('../images/level_2.gif');
}

.ui-treenode-icon.ui-icon-level3 {
	background-image: url('../images/level_3.gif');
}

.ui-treenode-icon.ui-icon-level4 {
	background-image: url('../images/level_4.gif');
}

.ui-treenode-icon.ui-icon-level5 {
	background-image: url('../images/level_5.gif');
}

.ui-treenode-icon.ui-icon-level6 {
	background-image: url('../images/level_6.gif');
}

.ui-treenode-icon.ui-icon-level7 {
	background-image: url('../images/level_7.gif');
}

.ui-treenode-icon.ui-icon-level8 {
	background-image: url('../images/level_8.gif');
}

.ui-treenode-icon.ui-icon-member {
	background-image: url('../images/member.gif');
}

.ui-treenode-icon.ui-icon-measure {
	background-image: url('../images/measure.gif');
}

.ui-treenode-icon.ui-icon-cols {
	background-image: url('../images/columns.gif');
}

.ui-treenode-icon.ui-icon-rows {
	background-image: url('../images/rows.gif');
}

.ui-treenode-icon.ui-icon-filter {
	background-image: url('../images/filter.gif');
}

.navigator .drop-target-node {
	text-decoration: underline;
	font-weight: bold;
}

.navigator.drop-target-node {
	background-color: #dddddd;
}

#source-tree-pane .ui-treenode .ui-state-highlight {
	background: none !important;
	text-shadow: none !important;
	color: #d0d0d0;
}

#cube-list-pane {
	overflow: visible;
}

#cube-list-pane label {
	margin: 0 5px 0 5px;
}

.ui-draggable-dragging.node-hierarchy {
	background-image: url('../images/hierarchy.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

.ui-draggable-dragging.node-level {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

.ui-draggable-dragging.node-member {
	background-image: url('../images/measure.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

#grid-header-pane {
	padding: 2px;
	overflow: hidden;
}

#content-pane .ui-layout-content {
	padding: 6px 0 0 0;
}

#grid-content-pane {
	padding: 0;
	border: none;
}

.pivot-grid .value-cell {
	text-align: right;
}

.pivot-grid .value-cell .ui-button {
	float: right;
}

.pivot-grid .value-cell.cell-odd {
	background-color: rgb(242, 245, 249);
}

.pivot-grid .col-hdr-cell {
	white-space: nowrap;
}

.pivot-grid .row-hdr-cell {
	vertical-align: top;
	white-space: nowrap;
	background-color: dedede;
	background-image: none;
}

.ui-button-icon-only {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	margin-right: 3px;
	vertical-align: middle;
}

.filter-panel {
	width: 100%;
}

.filter-panel .ui-widget-header {
	width: 80px;
	padding: 0 5px 0 5px;
	text-align: right;
}

.filter-panel td.filter-items {
	border: 1px dotted #a8a8a8;
	padding: 2px;
}

.filter-panel td.filter-items .ui-droppable {
	height: 22px;
}

.filter-panel td.filter-items .filter-items-hover {
	background-color: #fff895;
}

.filter-panel .filter-item {
	border-radius: 5px;
	background-image: none;
	margin-right: 2px;
	padding: 0 5px 2px;
	white-space: nowrap;
	width: auto;
	float: left;
}

.filter-panel .filter-item a {
	text-decoration: none;
}

.filter-panel .filter-item .ui-button {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

#mdx-editor-pane .pe-layout-pane-content {
	padding: 0;
}

#mdx-editor-pane .CodeMirror-scroll {
	overflow-y: visible;
	height: auto;
}

#mdx-editor-pane .query-info {
	padding: 8px 5px 0px 5px;	
}

.ui-icon-title {
	float: left;
	margin-right: 2px;
}

#content-pane .info-panel {
	padding: 10px;
	font-weight: bold;
}

.ajax-status {
	width: 64px;
	height: 64px;
	position: fixed;
	right: 5px;
	bottom: 5px;
}

.ui-draggable {
	cursor: pointer;
}

.ui-draggable-dragging {
	z-index: 10;
}

.x-hide-display {
	display: none !important;
}

.about .about-title {
	font-weight: bold;
	font-size: large;
}

.about img {
	float: left;
	margin: 5px 15px 5px 5px;
}

.about button {
	float: right;
}

.about .about-text {
	display: block;
	padding: 10px;
}

.hierarchy-config .ui-dialog-content {
	overflow: hidden;
}

.hierarchy-config .member-panel .ui-panel-content {
	padding: 5px 0 5px 0;
	height: 340px;
}

.hierarchy-config .ui-tree-container {
	padding: 0 0 0 0;
}

.hierarchy-config .ui-tree {
	height: 100%;
}

.hierarchy-config .control-panel {
	width: 102px;
}

.hierarchy-config .ui-button {
	width: 92px;
	margin: 5px;
}

.hierarchy-config .source-panel .node-member {
}

.hierarchy-config .source-panel .node-member.selected {
	color: #d0d0d0;
}

.hierarchy-config .target-panel .node-member {
	color: #d0d0d0;
}

.hierarchy-config .target-panel .node-member.selected {
	color: #000000;
}

.hierarchy-contextmenu {
	width: 180px;
}

.ui-dialog .button-bar {
	margin-top: 5px;
	text-align: right;
}

.ui-dialog .button-bar .ui-button {
	width: 92px;
	margin: 5px 0 5px 5px;
}

.ui-dialog .info-panel {
	text-align: left;
	font-weight: normal;
	padding: 5px;
}

.ui-dialog .button-bar .ui-messages {
	text-align: left;
}

.ui-dialog .button-bar .ui-messages div {
	margin: 5px 0 5px 0 !important;
}

.filter-dialog .ui-tree-container {
	margin: 5px 0;
	height: 280px;
}