body {
	font-size: smaller;
}

#toolbar-pane.pe-layout-pane-content {
	padding: 0;
	overflow: hidden;
}

#navigator-pane {
	z-index: 10;
}

#navigator-pane .ui-tree {
	border: none;
	width: auto;
}

#navigator-pane .ui-tree-container {
	overflow: visible;
	padding: 0;
}

#navigator-pane .ui-layout-content {
	padding-right: 0;
}

.navigator .ui-icon {
	border-radius: 0;
}

.navigator .ui-treenode-icon {
	background-position: 0 0;
}

.navigator .ui-icon-dim {
	background-image: url('../images/dimension.gif');
}

.navigator .ui-icon-hier {
	background-image: url('../images/hierarchy.gif');
}

.navigator .ui-icon-level0 {
	background-image: url('../images/level_0.gif');
}

.navigator .ui-icon-level1 {
	background-image: url('../images/level_1.gif');
}

.navigator .ui-icon-level2 {
	background-image: url('../images/level_2.gif');
}

.navigator .ui-icon-level3 {
	background-image: url('../images/level_3.gif');
}

.navigator .ui-icon-level4 {
	background-image: url('../images/level_4.gif');
}

.navigator .ui-icon-level5 {
	background-image: url('../images/level_5.gif');
}

.navigator .ui-icon-level6 {
	background-image: url('../images/level_6.gif');
}

.navigator .ui-icon-level7 {
	background-image: url('../images/level_7.gif');
}

.navigator .ui-icon-level8 {
	background-image: url('../images/level_8.gif');
}

.navigator .ui-icon-mem {
	background-image: url('../images/member.gif');
}

.navigator .ui-icon-measure {
	background-image: url('../images/measure.gif');
}

.navigator .ui-icon-cols {
	background-image: url('../images/columns.gif');
}

.navigator .ui-icon-rows {
	background-image: url('../images/rows.gif');
}

.navigator .ui-icon-filter {
	background-image: url('../images/filter.gif');
}

.navigator .drop-target-node {
	text-decoration: underline;
	font-weight: bold;
}

.navigator.drop-target-node {
	background-color: #dddddd;
}

#cube-list-pane {
	overflow: visible;
}

#cube-list-pane label {
	margin: 0 5px 0 5px;
}

.ui-draggable-dragging.node-hierarchy {
	background-image: url('../images/hierarchy.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

.ui-draggable-dragging.node-level {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

.ui-draggable-dragging.node-member {
	background-image: url('../images/measure.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
}

#content-pane .ui-layout-content {
	padding: 6px 0 0 0;
}

#grid-content-pane {
	padding: 0;
	border: none;
}

.pivot-grid .value-cell {
	text-align: right;
}

.pivot-grid .value-cell.cell-odd {
	background-color: rgb(242, 245, 249);
}

.pivot-grid .col-hdr-cell {
	white-space: nowrap;
}

.pivot-grid .row-hdr-cell {
	vertical-align: top;
	white-space: nowrap;
	background-color: dedede;
	background-image: none;
}

.pivot-grid .ui-button-icon-only {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	margin-right: 3px;
	vertical-align: middle;
}

#mdx-editor-pane .pe-layout-pane-content {
	padding: 0;
}

#mdx-editor-pane  .CodeMirror-scroll {
	overflow-y: visible;
	height: auto;
}

#mdx-editor-pane .query-info {
	padding: 8px 5px 0px 5px;	
}

.query-info .ui-icon, .info-panel .ui-icon {
	float: left;
	margin-left: 2px;
}

#content-pane, .info-panel .ui-icon {
	margin-right: 5px;
}

#content-pane .info-panel {
	padding: 10px;
	font-weight: bold;
}

.ajax-status {
	width: 64px;
	height: 64px;
	position: fixed;
	right: 5px;
	bottom: 5px;
}

.ui-draggable {
	cursor: pointer;
}

.ui-draggable-dragging {
	z-index: 10;
}

.x-hide-display {
	display: none !important;
}

.about .about-title {
	font-weight: bold;
	font-size: large;
}

.about img {
	float: left;
	margin: 5px 15px 5px 5px;
}

.about button {
	float: right;
}

.about .about-text {
	display: block;
	padding: 10px;
}
